- const running = self.status === 'running';
tr
  th= 'No Name'
  td= new Date(self.last_modified).toLocaleString()
  td= new Date(self.created_on).toLocaleString()
  if (self.active)
    td= self.owner
    td
      .control
        a.button(href=`/play/${self.id}`)
          span.icon.is-small
            i.fa.fa-play
  else
    td.game-status= self.status
    td
      .game-actions.field.has-addons
        .control
          a.button
            span.icon.is-small
              i.game-publish.fa(class=running ? 'fa-stop' : 'fa-play')
        .control
          a.button
            span.icon.is-small
              i.fa.fa-pencil
            //- span Edit
        .control
          a.button
            span.icon.is-small
              i.fa.fa-trash
            //- span Delete