.modal
  .modal-content
    .field
      label(
        class="label"
        for="type-input"
      ) Type Name
      .control
        input(
          class="input"
          id="type-input"
          type="text"
        )
  button.modal-close.is-large
