- const { groups } = self;
each group, index in self.groups
  .object-block.panel-block.group(
    id="type"+index
    style="justify-content:space-between;"
  )
    span.type-name #{group.name}
    button(
      class="button is-small"
      id="new-object-button"
      name="add new object"
      style="align"
    )
      span.icon
        i.fa.fa-plus
      span Add Object

        //- input(
    //-   type="color"
    //-   name="type-color"
    //-   id="type-color"
    //-   value="#FFAABB"
    //-   style="margin-left: auto;"
    //- )
    //- .control
    //-   button.button.is-small(name="rename type")
    //-     i.fa.fa-pencil
    //- .control
    //-   button.button.is-small(name="delete type")
    //-     i.fa.fa-trash
    //- .control
