- const { name, id } = self;
.object-block.panel-block.group(
  style="justify-content:space-between;"
  id=id
)
  span.type-name #{name}
  button(
    class="button is-small"
    id="new-object-button"
    name="add new object"
    style="align"
  )
    span.icon
      i.fa.fa-plus
    span Add Object
