extends ./templates/boilerplate

block page_content

  include ./templates/editHeader

  -
    const options = [
      ['playerHealth', 'Player Health'],
      ['maxBulletsPerPlayer', 'Max Bullets Per Player'],
      ['maxPlayers', 'Max Players'],
      ['bulletSpeed', 'Bullet Speed'],
      ['fireRate', 'Fire Rate'],
      ['playerSpeed', 'Player Speed'],
      ['bulletHealth', 'Bullet Health'],
    ];

  .layers
    .layer
      .columns.edit-body
        .column.is-2.sidebar
          .settings-panel.panel
            p.panel-heading Settings
            p.panel-tabs
              a#object-tab.is-active Objects
              a#level-tab Level
            .object-block.panel-block(
              id="new-buttons"
              style="justify-content: space-around;"
            )
              button.button.is-small#new-type-button New Type
            each option in options  
              - const optionId = `opt-${option[0]}`;
              .level-block.panel-block
                .field.is-horizontal
                  .field-label.is-small(style="flex-grow: 5;")
                    label.label(for=optionId)= option[1]
                  .field-body
                    .field
                      .control
                        input.input.is-small.is-expanded(
                          id=optionId
                          name=optionId
                          type="number"
                          value="0"
                        )
        .column.is-8.root-column#root
        .column.is-2
          #grid-settings.panel
            p.panel-heading Grid
            .grid-block.panel-block
              .field.is-horizontal
                .field-label.is-small
                  label.label(
                    for="opt-snap"
                  ) Spacing
                .field-body
                  .field
                    .control
                      input.input.is-small(
                        id="opt-snap"
                        max="100"
                        name="snap"
                        type="number"
                        value="10"
                      )
            each arr in [['x', 'y'], ['w', 'h']]
              .grid-block.panel-block(style="border-bottom: none;")
                .field.is-horizontal
                  each prop in arr
                    - const optionId = `opt-bounds-${prop}`;
                      .field-label.is-small(style = "margin-right: 0.5rem;")
                        label.label(for=optionId)= prop.toUpperCase()
                      .field-body(style="flex-grow: 3;")
                        .field
                          .control
                            input.input.is-small(
                              id=optionId
                              name=optionId
                              type="number"
                              value="0"
                            )
            .grid-block.panel-block(style="border-top: 1px solid #dbdbdb;")
              .field.is-horizontal
                .field-label.is-small
                  label.label(for="opt-backgroundColor") Background Color
                .field-body
                  .field
                    .control
                      input.input.is-small(
                        id="opt-backgroundColor"
                        name="opt-backgroundColor"
                        type="color"
                        value="#000000"
                      )
          #type-settings.panel
            p.panel-heading Type Settings
            .panel-block
              .field
                label(for="type-color") Type Color
                .control
                  input(
                    type="color"
                    name="type-color"
                    id="type-color"
                    value="#FFAABB"
                  )
            .panel-block
              .field.is-grouped
                .control
                  button.button(
                    id="type-rename"
                  ) Rename
                .control
                  button.button(
                    id="type-delete"
                  ) Delete
          #object-settings.panel
            p.panel-heading Object Settings
            .panel-block
              .field
                label(for="object-color") Object Color
                .control
                  input(
                    type="color"
                    name="object-color"
                    id="object-color"
                    value="#FFFFFF"
                  )
            .panel-block
              .field.is-grouped
                .control
                  button.button(
                    id="object-delete"
                  ) Delete
