extends ./templates/boilerplate

block page_content

  include ./templates/editHeader

  .layers
    .layer
      .columns.edit-body
        .column.is-one-quarter.sidebar
          .settings-panel.panel
            p.panel-heading Settings
            p.panel-tabs
              a#object-tab.is-active Objects
              a#grid-tab Grid
              a#level-tab Level
            .object-block.panel-block(
              id="new-buttons"
            )
              button.button.is-small#new-type-button New Type
            .grid-block.panel-block
              .field
                label(
                  class="label is-small"
                  for="opt-snap"
                ) Grid Spacing
                .control
                  input(
                    class="input is-small"
                    id="opt-snap"
                    max="100"
                    name="snap"
                    type="number"
                    value="10"
                  )
            .grid-block.panel-block
              .field
                label(
                  class="label is-small"
                  for="opt-bounds-x"
                ) X
                .control
                  input(
                    class="input is-small"
                    id="opt-bounds-x"
                    max="10000"
                    type="number"
                    value="7000"
                  )
            .grid-block.panel-block
              .field
                label(
                  class="label is-small"
                  for="opt-bounds-y"
                ) Y
                .control
                  input(
                    class="input is-small"
                    id="opt-bounds-y"
                    max="10000"
                    type="number"
                    value="7000"
                  )
            .grid-block.panel-block
              .field
                label(
                  class="label is-small"
                  for="opt-bounds-w"
                ) W
                .control
                  input(
                    class="input is-small"
                    id="opt-bounds-w"
                    max="10000"
                    type="number"
                    value="7000"
                  )
            .grid-block.panel-block
              .field
                label(
                  class="label is-small"
                  for="opt-bounds-h"
                ) H
                .control
                  input(
                    class="input is-small"
                    id="opt-bounds-h"
                    max="10000"
                    type="number"
                    value="7000"
                  )
            .level-block.panel-block
              .field
                label(for="background-color") Level Background Color
                .control
                  input(
                    id="opt-backgroundColor"
                    name="opt-backgroundColor"
                    type="color"
                    value="#000000"
                  )
          #type-settings.panel
            p.panel-heading Type Settings
            .panel-block
              .field
                label(for="type-color") Type Color
                .control
                  input(
                    type="color"
                    name="type-color"
                    id="type-color"
                    value="#FFAABB"
                  )
            .panel-block
              .field.is-grouped
                .control
                  button.button(
                    id="type-rename"
                  ) Rename
                .control
                  button.button(
                    id="type-delete"
                  ) Delete
          #object-settings.panel
            p.panel-heading Object Settings
            .panel-block
              .field
                label(for="object-color") Object Color
                .control
                  input(
                    type="color"
                    name="object-color"
                    id="object-color"
                    value="#FFFFFF"
                  )
            .panel-block
              .field.is-grouped
                .control
                  button.button(
                    id="object-delete"
                  ) Delete
        .column.root-column#root
