extends ./templates/boilerplate

block page_content

  include ./templates/header

  .layers
    .layer
      .columns.edit-body
        .column.is-one-quarter.sidebar
          .settings-panel.panel
            p.panel-heading Settings
            p.panel-tabs
              a#object-tab.is-active Objects
              a#grid-tab Grid
              a#level-tab Level
            .object-block.panel-block#new-buttons
              .field.is-grouped.is-centered
                .control
                  button.button.is-small#new-type-button New Type
                .control
                  button.button.is-small#new-type-button New Object
            .grid-block.panel-block
              .field
                label(
                  class="label is-small"
                  for="snap-input"
                ) Grid Spacing
                .control
                  input(
                    class="input is-small"
                    id="snap-input"
                    max="100"
                    name="snap"
                    type="number"
                    value="10"
                  )
            .grid-block.panel-block
              .field
                label(
                  class="label is-small"
                  for="boundary-x"
                ) Width of Playable Area
                .control
                  input(
                    class="input is-small"
                    id="boundary-x"
                    max="10000"
                    name="boundary-x"
                    type="number"
                    value="7000"
                  )
            .grid-block.panel-block
              .field
                label(
                  class="label is-small"
                  for="boundary-y"
                ) Height of Playable Area
                .control
                  input(
                    class="input is-small"
                    id="boundary-y"
                    max="10000"
                    name="boundary-y"
                    type="number"
                    value="7000"
                  )
            .level-block.panel-block
              .field
                label(
                  class="label is-small"
                  for="background-color"
                ) Level Background Color
                .control
                  input(
                    id="type-color"
                    name="background-color"
                    type="color"
                    value="#000000"
                  )
          .object-settings.panel
            p.panel-heading Object Settings
            .panel-block
        .column.root-column#root
