extends ./templates/boilerplate

block page_content

  include ./templates/editHeader

  -
    const options = [
      ['playerHealth', 'Player Health'],
      ['maxBulletsPerPlayer', 'Max Bullets Per Player'],
      ['maxPlayers', 'Max Players'],
      ['bulletSpeed', 'Bullet Speed'],
      ['fireRate', 'Fire Rate'],
      ['playerSpeed', 'Player Speed'],
      ['bulletHealth', 'Bullet Health'],
      ['bulletDamage', 'Bullet Damage'],
    ];

  .layers
    .layer
      .edit-body
        .edit-sidebar
          .panel
            p.panel-heading Settings
            p.panel-tabs
              a#objects-tab.is-active Objects
              a#level-tab Level
            #objects-settings
              #object-list-container
                #object-list
              .panel-block(
                style="justify-content: space-around"
              )
                button.button.is-small#new-type-button New Type
            #level-settings
              each option in options  
                - const optionId = `opt-${option[0]}`;
                .panel-block
                  .field.is-horizontal
                    .field-label.is-small(style="flex-grow: 5;")
                      label.label(for=optionId)= option[1]
                    .field-body
                      .field
                        .control
                          input.input.is-small.is-expanded(
                            id=optionId
                            name=optionId
                            type="number"
                            value="0"
                          )
        #root
        .edit-sidebar
          #grid-settings.panel
            p.panel-heading Grid
            each arr in [['x', 'y'], ['w', 'h']]
              .panel-block(style="border-bottom: none;")
                .field.is-horizontal
                  each prop in arr
                    - const optionId = `opt-bounds-${prop}`;
                      .field-label.is-small(style = "margin-right: 0.5rem;")
                        label.label(for=optionId)= prop.toUpperCase()
                      .field-body(style="flex-grow: 3;")
                        .field
                          .control
                            input.input.is-small.is-expanded(
                              id=optionId
                              name=optionId
                              type="number"
                              value="0"
                            )
            .panel-block(style="border-top: 1px solid #dbdbdb;")
              .field.is-horizontal
                .field-label.is-small(style="flex-grow: 5;")
                  label.label(
                    for="opt-snap"
                  ) Spacing
                .field-body
                  .field
                    .control
                      input.input.is-small.is-expanded(
                        id="opt-snap"
                        max="100"
                        name="snap"
                        type="number"
                        value="10"
                      )
            .panel-block
              .field.is-horizontal
                .field-label.is-small(style="flex-grow: 5;")
                  label.label(for="opt-backgroundColor") Background Color
                .field-body
                  .field
                    .control
                      input.input.is-small.is-expanded(
                        id="opt-backgroundColor"
                        name="opt-backgroundColor"
                        type="color"
                        value="#000000"
                      )
          #type-settings.panel
            p.panel-heading Type Settings
            .panel-block
              .field.is-horizontal
                .field-label.is-small
                  label.label(for="type-color") Type Color
                .field-body
                  .field
                    .control
                      input.input.is-small(
                        type="color"
                        name="type-color"
                        id="type-color"
                        value="#FFFFFF"
                      )
            each opt in ['health', 'damage']
              .panel-block
                .field.is-horizontal
                  .field-label.is-small(style="flex-grow: 5;")
                    label.label(for=`type-${opt}`)= `Object ${opt.charAt(0).toUpperCase() + opt.slice(1)}`
                  .field-body
                    .field
                      .control
                        input.input.is-small.is-expanded(
                          id=`type-${opt}`
                          name=`type-${opt}`
                          type="number"
                          value="0"
                        )
            .panel-block(style="justify-content: space-around;")
              .field.is-grouped
                .control
                  button.button.is-small(
                    id="type-rename"
                  ) Rename
                .control
                  button.button.is-small(
                    id="type-delete"
                  ) Delete
          #object-settings.panel
            p.panel-heading Object Settings
            each arr in [['x', 'y'], ['w', 'h']]
              .grid-block.panel-block(style="border-bottom: none;")
                .field.is-horizontal
                  each prop in arr
                    - const optionId = `object-${prop}`;
                      .field-label.is-small(style = "margin-right: 0.5rem;")
                        label.label(for=optionId)= prop.toUpperCase()
                      .field-body(style="flex-grow: 3;")
                        .field
                          .control
                            input.input.is-small(
                              id=optionId
                              name=optionId
                              type="number"
                              value="0"
                            )
            .panel-block(style="border-top: 1px solid #dbdbdb;")
              .field.is-horizontal
                .field-label.is-small
                  label.label(for="object-color") Object Color
                .field-body
                  .field
                    .control
                      input.input.is-small(
                        type="color"
                        name="object-color"
                        id="object-color"
                        value="#FFFFFF"
                      )
            each opt in ['health', 'damage']
              .panel-block
                .field.is-horizontal
                  .field-label.is-small(style="flex-grow: 5;")
                    label.label(for=`object-${opt}`)= `Object ${opt.charAt(0).toUpperCase() + opt.slice(1)}`
                  .field-body
                    .field
                      .control
                        input.input.is-small.is-expanded(
                          id=`object-${opt}`
                          name=`object-${opt}`
                          type="number"
                          value="0"
                        )
            .panel-block(style="justify-content: space-around;")
              .field.is-grouped
                .control
                  button.button.is-small(
                    id="object-delete"
                  ) Delete
                .control
                  button.button.is-small(
                    id="object-duplicate"
                  ) Duplicate
