<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <% for (let c of css) { %>
      <link rel="stylesheet" href="<%= c %>">
    <% } %>
  </head>
  <body>
    <%- include templates/header %>
    <section class="section edit-body">
      <div class="container is-widescreen ui">
        <div class="columns ui-body">
          <div class="column is-one-fifth sidebar">
            <p>Sidebar</p>
            <input id="boundary-x" type="number" value="7000" max="10000">
            <input id="boundary-y" type="number" value="7000" max="10000">
            <button id="obj-create">Create</button>
            <button id="obj-delete">Delete</button>
            <button id="obj-duplicate">Duplicate</button>
          </div>
          <div class="column is-four-fifths" id="<%= rootId %>"></div>            
        </div>
      </div>
    </section>
    <script src="<%= script %>"></script>
  </body>
</html>