<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <% for (let c of css) { %>
      <link rel="stylesheet" href="<%= c %>">
    <% } %>
  </head>
  <body>
    <div id="<%= rootId %>"><%= rootContent %></div>
    <script src="<%= script %>"></script>
  </body>
</html>