-
  let item, key;

  self.css = self.css || [];

  //- self.appMountIds = self.appMountIds || (self.appMountId && [ self.appMountId ]) || [];
    
  self.lang = self.lang || 'en';

  self.scripts = self.scripts || [];
  if (self.script) self.scripts.push(self.script);
  for (item of self.scripts) {
    if (typeof item === 'string')  {
      item = { src: item, type: 'text/javascript' };
    } else { 
      item.type = 'text/javascript';
    }
  }

  self.links = self.links || [];
  for (item of self.links) {
    if (typeof item === 'string') { 
      item = { href: item, rel: 'stylesheet' };
    }
  }

  self.meta = self.meta || [];
  if (!Array.isArray(self.meta)) {
    self.meta = [ self.meta ];
  }

  if (self.googleAnalytics && !self.googleAnalytics.trackingId) {
    throw new Error('template requires googleAnalytics.trackingId config');
  }

doctype html

html(lang=self.lang)
  head
    meta(charset='utf-8')
    meta(content='ie=edge' http-equiv='x-ua-compatible')

    if (self.baseHref)
      base(href=self.baseHref)

    each item in self.meta
      meta&attributes(item)

    title= self.title

    if (self.favicon)
      link(href=self.favicon rel='shortcut icon')

    if (self.cache === false)
      meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
      meta(http-equiv='Pragma' content='no-cache')
      meta(http-equiv='Expires' content='0')

    if (self.mobile)
      meta(content='width=device-width, initial-scale=1' name='viewport')

    each item in self.links
      link&attributes(item)

    each val, key in self.css
      link(href=val rel='stylesheet')

    each item in self.scripts
      if (item.inject !== 'body')
        script&attributes(item)

  body

    block page_content

    //- each id in self.appMountIds
    //-   div(id=id)

    if (self.window)
      script(type='text/javascript').
        for (key in self.window) {
          window[key] = JSON.stringify(self.window[key]);
        }

    each item in self.scripts
      if (item.inject === 'body')
        script&attributes(item)

    if (self.googleAnalytics)
      script(type='text/javascript')
        | window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        = `ga('create','${self.googleAnalytics.trackingId}','auto');`

        if (self.googleAnalytics.pageViewOnLoad)
          | ga('send','pageview')

      script(async defer src='https://www.google-analytics.com/analytics.js' type='text/javascript')
